{% extends "::base.html.twig" %}

{% block title %}AppBundle:Product:add{% endblock %}

{% block body %}
<h4>add a new product</h4>
    {{ form_start(form, {'attr': {'class': 'form-horizontal'} }) }}
    {{ form_widget(form, {'attr': {'class': 'form-horizontal'} } ) }}
    <input type="submit" value="create product" class="btn btn-success" />
    {{ form_end(form) }}
{% endblock %}
