{% extends "::base.html.twig" %}

{% block title %}AppBundle:Product:edit{% endblock %}

{% block body %}
<h4>update product</h4>
    {{ form_start(form, {'attr': {'class': 'form-horizontal'} }) }}
    {{ form_widget(form) }}
    <input type="submit" value="update product" class="btn btn-primary" />
    {{ form_end(form) }}
{% endblock %}
