{% extends "::base.html.twig" %}

{% block title %}AppBundle:Login:login{% endblock %}

{% block body %}
<div class="panel panel-success">
    <div class="panel-heading text-center">
        <h3>login</h3>
    </div>
    <div class="panel-body">
        {% if errors %}
            <div class="alert alert-danger">
                {{ errors.messageKey }}
            </div>
        {% endif %}
        <form action="{{ path('login') }}" method="post">
            <div class="form-group">
                <label for="username">username</label>
                <input type="text" name="_username" id="username" class="form-control" value="{{ lastUserName }}">
            </div>

            <div class="form-group">
                <label for="password">password</label>
                <input type="password" name="_password" id="password" class="form-control">
            </div>

            <div class="form-group">
                <button class="btn btn-info pull-right">sign</button>
            </div>
        </form>

    </div>
</div>
{% endblock %}
